@tailwind base;
@tailwind components;
@tailwind utilities;

.anchor {
  @apply opacity-0 transition-opacity duration-200 no-underline ml-2 text-primary;
}

h1:hover .anchor,
h2:hover .anchor,
h3:hover .anchor,
h4:hover .anchor,
h5:hover .anchor,
h6:hover .anchor {
  @apply opacity-100;
}
