---
import Layout from '../layout/layout.astro';
import App from '../components/dj-jam-room/App';
---

<Layout title="DJ Jam Room">
  <div class="min-h-screen bg-transparent">
    <App client:only="react" />
  </div>
</Layout>
